.form {
  background: lightblue;
  border: 2px black solid;
  border-radius: 25px;
  width: 40%;
  padding: 10px;
  margin: 20px auto;

  .title {
    margin: 10px auto;
    color: orange;
    font-size: 22px;
    text-align: center;
  }

  .titleNew,
  .descriptionNew {
    display: block;
    margin: 10px auto;
    min-width: 250px;
    min-height: 30px;
    padding: 5px;
    border: 2px black solid;
    border-radius: 5px;
    outline: none;

    &:hover {
        border-color: red;
    }

    &:active {
        border-color: purple;
    }
  }

  .submit {
    display: block;
    width: 100px;
    height: 26px;
    margin: 10px auto;
    cursor: pointer;
    background: deepskyblue;
    color: white;
    border: 1px grey solid;
    border-radius: 5px;

    &:hover {
        background-color: pink;
        color: white;
    }
  }
}
