.add-task__form {
    background: lightblue;
    border: 2px black solid;
    border-radius: 25px;
    width: 40%;
    padding: 10px;
    margin: 20px auto;
}


.add-task__title {
    margin: 10px auto;
    color: orange;
    font-size: 22px;
}

.add-task__add-title,
.add-task__add-description {
    display: block;
    margin: 10px auto;
    min-width: 250px;
    min-height: 30px;
    padding: 5px;
    border: 2px black solid;
    border-radius: 5px;
    outline: none;
}

.add-task__add-title:hover,
.add-task__add-description:hover {
    border-color: red;
}

.add-task__add-title:active,
.add-task__add-description:active {
    border-color: purple;
}

.add-task__submit {
    width: 60px;
    height: 26px;
    cursor: pointer;
    background: deepskyblue;
    color: white;
    border: 1px grey solid;
    border-radius: 5px;
}

.add-task__submit:hover {
    background-color: pink;
    color: white;
}