body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.app__title {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  color: orange;
}

.myTodoList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.task {
  width: 500px;
  min-height: 150px;
  padding: 0 20px;
  margin: 10px;
  border: 2px black solid;
  border-radius: 25px;
  background-color: yellow;
}

.task__name {
  margin: 10px 0;
  color: orangered;
}

.task__description {
  font-size: 16px;
  color: purple;
  margin-bottom: 5px;
}

.task__completed {
  font-size: 16px;
  color: purple;
  margin-bottom: 5px;
}

.task__button {
  margin: 10px;
  width: 100px;
  height: 40px;
  background: pink;
  border: 2px red solid;
  border-radius: 10px;
  cursor: pointer;
}

