.task {
  width: 500px;
  min-height: 150px;
  padding: 0 20px;
  margin: 10px;
  border: 2px black solid;
  border-radius: 25px;
  background-color: yellow;
}

.task__name {
  margin: 10px 0;
  color: orangered;
}

.task__description {
  font-size: 16px;
  color: purple;
  margin-bottom: 5px;
}

.task__completed {
  font-size: 16px;
  color: purple;
  margin-bottom: 5px;
}

.task__button {
  margin: 10px;
  width: 100px;
  height: 40px;
  background: pink;
  border: 2px red solid;
  border-radius: 10px;
  cursor: pointer;
}

.task__button:hover {
  background: white;
  color: black;
  border: 2px black solid;
}

.task__button:active {
  background: orange;
  color: white;
  border: 2px orange solid;
}